# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.env/
.venv/
ENV/

# VS Code
.vscode/
*.code-workspace
.history/

# Streamlit
.streamlit/secrets.toml

# System files
.DS_Store
Thumbs.db
